.dark .swagger-ui {
  filter: invert(88%) hue-rotate(180deg);
}

.dark .swagger-ui .highlight-code,
.dark .swagger-ui pre {
  filter: invert(100%) hue-rotate(180deg);
}

.swagger-ui .topbar {
  display: none;
}

.swagger-ui .information-container {
  padding: 1rem 0;
}
